<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>1.What is React</h3>
    <p>ReactJS is a component-based JavaScript library used to build dynamic and interactive user interfaces. It is widely used for creating fast and scalable single-page applications (SPAs).</p>

    <h3>2. Why is React So popular</h3>
    <p>1.It has a very small API to learn.<br>
       2.React developers works with a virtual DOM that is easier & friendlier.<br>
       3.It uses a Virtual DOM to optimize rendering.Instead of updating the entire webpage for every minor change,React calculates the minimal necessary updates, resulting in much faster and smoother user experie3nces.<br>
       4.THis makes it possible to share logic and code between your web ios, and android applications.<br>
       5.Maintained and updated by facebook.<br>
       6.React has a massive community that has built thousands of open-source libraries and packages on NPM.<br>
       7.Job Market Demand: Because so many companies use it, React has become the most in-demand frontend skill. <br>
    </p>

    <h3>3.What do we mean by virtual DOM</h3>
    <p>The Virtual DOM in React helps update the user interface efficiently by tracking changes in lightweigth copy of the real DOM.</p>

    <h3>4.What are the advantages of virtual DOM</h3>
    <p>1.The virtual DOM updated speed is fast.<br>
       2.Virtual DOM usage a minimal memory.<br>
       3.The virtual DOM concept allows React to be used for mobile app development with React Native,providing a consistent development experience across platforms.<br>
       4.Re-renddering :- Only changes are updated.<br>
    </p>

    <h3>5. Make a list of all the installations you did.Explain each installation</h3>
    <p>1.First install Nodejs and npm<br>
       2.Second installation is VS Code to run the React<br>
       3.create a react folder in vs code and go to my<br>
       4.npm start
    </p>
</body>
</html>